
@media screen and (max-width:500px){
.uploadHome{
background-color: brown;
height: 90vh;
}
}

@media screen and (max-width:500px){
.uploadTitle{
background-color: red;
height: 250px;
padding-bottom: 20px;
}
}


@media screen and (max-width:500px){
.uploadUpload{width: 100%;
}
}
@media screen and (max-width:500px){
.uploadUploadText{
    font-size: 32px;
    line-height: 40px;
}
}