


@media screen and (max-width:500px){
    .discountCard{
    width: 100%;
    height:400px;
    }
    }
    
    
@media screen and (max-width:500px){
    .discountText{
font-size: 30px;
line-height: 40px;
width: 100%;
    }
    }
    
@media screen and (max-width:500px){
    .counter{
height: 75px;
width: 55px;
    }
    }

    
    
    
    

.glass{
    background: rgba( 255, 255, 255, 3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

