
@media screen and (max-width:500px){
.searchHolder{
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
}


@media screen and (max-width:500px){
.searchInput{
width: 95%;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
}
@media screen and (max-width:500px){
.holderholderholder{
    background-color: #F3F4F6;
}
}







@media screen and (max-width:500px){
.holderHolder{
    display: flex;
    gap: 60px;
    height: fit-content;
}
}

@media screen and (max-width:500px){
.uploadImageHolder{
    height: 300px;
    background-color:rgb(209 213 400);
}
}

@media screen and (max-width:500px){
.imageItself{
    height: 90%;
    width: 90%;
    object-fit: cover;
}
} 

@media screen and (max-width:500px){
.imageHolder{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(209 213 219);
}
}



