


@media screen and (max-width:500px){
.aboutCard{
width: 90%;
height:400px;
display: flex;
align-items: center;
justify-content: center;
}
}
@media screen and (max-width:500px){
.secondText{
font-size: 20px;
}
}



@media screen and (max-width:500px){
.main{
display: flex;
align-items: center;
justify-content: center;
}
}


