@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --black: #000000;
  --ash: #ebebebd5;
  --white: #dfd9ff;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: #fff;
  --accent: #050816; 
  --cyan:#12C5E4;

  margin: 0;
  padding: 0;
  background-color: bg-primary;
  color: var(--accent);
}



:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--accent);
  background-color: var(--background);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}





::-webkit-scrollbar {
  width: 14px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #12C5E4;
  border: 5px solid transparent;
  background-clip: content-box;
  height: 50px;
}
